/* .half-screen-modal .modal-wrapper {
  width: 50vw !important;      
  height: 50vh !important;      
  max-width: 50vw !important;
  max-height: 50vh !important;
  margin: auto;                
  border-radius: 12px;        
}

.half-screen-modal .modal-content {
  overflow-y: auto;          
  flex: 1;
  padding: 16px;
} */




.rating-info {
  text-align: center;
  margin: 20px auto;
  padding: 12px;
  /* border-radius: 16px; */
  width: fit-content;
  border-top:solid 1px #d5d5d5;
  border-bottom:solid 1px #d5d5d5;
}

.rating-info span {
  /* display: block; */
  font-size: 13px;
  color: #444;
  margin: 4px 0;
}



.half-screen-modal .modal-wrapper {
  width: 50vw !important;
  height: 50vh !important;
  max-width: 50vw !important;
  max-height: 50vh !important;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
}

.half-screen-modal .modal-content {
  overflow-y: auto;
  flex: 1;
  padding: 16px;
  background: rgba(255, 255, 255, 0.9); /* fondo semi-transparente */
  border-radius: 12px;
}

.rank-container {
  margin-bottom: 12px;
  padding: 8px;
  background: rgba(240, 240, 240, 0.5);
  border-radius: 8px;
}

.stars-container {
  display: flex;
  align-items: center;
}

.star-icon {
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

.centro-inicio {
  display: flex;
  align-items: center;
}
