.signature-container {
  width: 100%;
  height: 250px;   /* ALTURA REAL */
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  touch-action: none;   /* NECESARIO EN IONIC */
}

