@media print {
  body * {
    visibility: hidden;
  }
  #barcode, #barcode * {
    visibility: visible;
  }
}



.subheader-toolbar {
  --min-height: 32px;   /* m치s delgado que un toolbar normal */
}

.subheader-title {
  text-align: center;
  font-size: 12px;      /* m치s peque침o */
  font-weight: 500;     /* opcional, un poco m치s marcado */
  width: 100%;          /* asegura centrado perfecto */
  margin: 0;
  padding: 0;
}


